--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: auction_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.auction_status_enum AS ENUM (
    'PENDIENTE',
    'ACTIVA',
    'COMPLETADA',
    'CANCELADA',
    'ELIMINADA'
);


ALTER TYPE public.auction_status_enum OWNER TO postgres;

--
-- Name: auction_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.auction_type_enum AS ENUM (
    'TEST',
    'REAL'
);


ALTER TYPE public.auction_type_enum OWNER TO postgres;

--
-- Name: item_state_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.item_state_enum AS ENUM (
    'DISPONIBLE',
    'EN_SUBASTA',
    'VENDIDO',
    'ELIMINADO'
);


ALTER TYPE public.item_state_enum OWNER TO postgres;

--
-- Name: legal_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.legal_status_enum AS ENUM (
    'TRANSFERIBLE',
    'LEASING',
    'POSIBILIDAD_DE_EMBARGO',
    'PRENDA',
    'OTRO'
);


ALTER TYPE public.legal_status_enum OWNER TO postgres;

--
-- Name: user_role_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.user_role_enum AS ENUM (
    'ADMIN',
    'USER',
    'AUCTION_MANAGER'
);


ALTER TYPE public.user_role_enum OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: auction; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auction (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    title text NOT NULL,
    description text,
    "startTime" timestamp(3) without time zone NOT NULL,
    "endTime" timestamp(3) without time zone NOT NULL,
    status public.auction_status_enum DEFAULT 'PENDIENTE'::public.auction_status_enum NOT NULL,
    type public.auction_type_enum DEFAULT 'REAL'::public.auction_type_enum NOT NULL,
    "bidIncrement" numeric(10,2) DEFAULT 50000 NOT NULL,
    "tenantId" text NOT NULL
);


ALTER TABLE public.auction OWNER TO postgres;

--
-- Name: auction_item; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auction_item (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "startingBid" numeric(10,2) NOT NULL,
    "auctionId" text NOT NULL,
    "itemId" text NOT NULL
);


ALTER TABLE public.auction_item OWNER TO postgres;

--
-- Name: auction_registration; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auction_registration (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "userId" text NOT NULL,
    "auctionId" text NOT NULL
);


ALTER TABLE public.auction_registration OWNER TO postgres;

--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_log (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    action text NOT NULL,
    "entityType" text NOT NULL,
    "entityId" text NOT NULL,
    changes jsonb,
    "userId" text,
    "tenantId" text
);


ALTER TABLE public.audit_log OWNER TO postgres;

--
-- Name: bid; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bid (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    offered_price numeric(10,2) NOT NULL,
    bid_time timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "tenantId" text NOT NULL,
    "userId" text NOT NULL,
    "auctionId" text NOT NULL,
    "auctionItemId" text NOT NULL,
    "requestId" text
);


ALTER TABLE public.bid OWNER TO postgres;

--
-- Name: company; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.company (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    name text NOT NULL,
    "nameLowercase" text NOT NULL,
    logo text,
    principal_color text,
    principal_color2 text,
    secondary_color text,
    secondary_color2 text,
    secondary_color3 text,
    "tenantId" text NOT NULL
);


ALTER TABLE public.company OWNER TO postgres;

--
-- Name: item; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.item (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    plate text,
    brand text,
    model text,
    year integer,
    version text,
    photos text,
    docs text,
    kilometraje integer,
    legal_status public.legal_status_enum,
    state public.item_state_enum DEFAULT 'DISPONIBLE'::public.item_state_enum NOT NULL,
    "basePrice" numeric(10,2),
    "soldPrice" numeric(10,2),
    "soldAt" timestamp(3) without time zone,
    "soldToUserId" text,
    "tenantId" text NOT NULL,
    description text
);


ALTER TABLE public.item OWNER TO postgres;

--
-- Name: observation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.observation (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    title text NOT NULL,
    description text NOT NULL,
    "tenantId" text NOT NULL
);


ALTER TABLE public.observation OWNER TO postgres;

--
-- Name: tenant; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tenant (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public.tenant OWNER TO postgres;

--
-- Name: user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."user" (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    name text,
    email text NOT NULL,
    phone text,
    password text NOT NULL,
    rut text,
    public_name text,
    role public.user_role_enum DEFAULT 'AUCTION_MANAGER'::public.user_role_enum NOT NULL,
    "tenantId" text,
    "companyId" text
);


ALTER TABLE public."user" OWNER TO postgres;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
2411c352-fab0-4547-bbda-1da24ea35931	0ec8babba9e7dc0e992e5733e06cd1f42b0b9793290fc2531c5009ea560ac9a8	2025-11-19 16:22:29.407539-03	2025_base		\N	2025-11-19 16:22:29.407539-03	0
\.


--
-- Data for Name: auction; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auction_item; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auction_registration; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: bid; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: company; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.company (id, "createdAt", "updatedAt", "isDeleted", "deletedAt", name, "nameLowercase", logo, principal_color, principal_color2, secondary_color, secondary_color2, secondary_color3, "tenantId") FROM stdin;
edac7623-74f6-4af8-9d43-572e18e76e4d	2025-10-23 21:03:42.096	2025-10-23 21:03:42.096	f	\N	NicoH	nicoh	\N	#75babd	\N	\N	\N	\N	d5fbeb53-1bd4-45b6-8c63-8d621dbaa4e0
2f831717-48df-4eed-8fb5-cf2105871c22	2025-10-24 19:59:31.913	2025-10-24 19:59:31.913	f	\N	Suba&Go Chile	subagochile	\N	#81b57d	\N	\N	\N	\N	57ad86e8-0787-4c22-8283-cbe4ee798b2c
\.


--
-- Data for Name: item; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: observation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.observation (id, "createdAt", "updatedAt", "isDeleted", "deletedAt", title, description, "tenantId") FROM stdin;
\.


--
-- Data for Name: tenant; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tenant (id, "createdAt", "updatedAt", "isDeleted", "deletedAt") FROM stdin;
d5fbeb53-1bd4-45b6-8c63-8d621dbaa4e0	2025-10-23 21:03:42.06	2025-10-23 21:03:42.06	f	\N
57ad86e8-0787-4c22-8283-cbe4ee798b2c	2025-10-24 19:59:31.908	2025-10-24 19:59:31.908	f	\N
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: auction_item auction_item_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auction_item
    ADD CONSTRAINT auction_item_pkey PRIMARY KEY (id);


--
-- Name: auction auction_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auction
    ADD CONSTRAINT auction_pkey PRIMARY KEY (id);


--
-- Name: auction_registration auction_registration_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auction_registration
    ADD CONSTRAINT auction_registration_pkey PRIMARY KEY (id);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id);


--
-- Name: bid bid_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bid
    ADD CONSTRAINT bid_pkey PRIMARY KEY (id);


--
-- Name: company company_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.company
    ADD CONSTRAINT company_pkey PRIMARY KEY (id);


--
-- Name: item item_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item
    ADD CONSTRAINT item_pkey PRIMARY KEY (id);


--
-- Name: observation observation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.observation
    ADD CONSTRAINT observation_pkey PRIMARY KEY (id);


--
-- Name: tenant tenant_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tenant
    ADD CONSTRAINT tenant_pkey PRIMARY KEY (id);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: IDX_company_name_tenant_unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IDX_company_name_tenant_unique" ON public.company USING btree (name, "tenantId");


--
-- Name: IDX_user_email_unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IDX_user_email_unique" ON public."user" USING btree (email);


--
-- Name: IDX_user_rut_unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IDX_user_rut_unique" ON public."user" USING btree (rut);


--
-- Name: auction_registration_auctionId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "auction_registration_auctionId_idx" ON public.auction_registration USING btree ("auctionId");


--
-- Name: auction_registration_userId_auctionId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "auction_registration_userId_auctionId_key" ON public.auction_registration USING btree ("userId", "auctionId");


--
-- Name: auction_registration_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "auction_registration_userId_idx" ON public.auction_registration USING btree ("userId");


--
-- Name: auction_startTime_endTime_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "auction_startTime_endTime_idx" ON public.auction USING btree ("startTime", "endTime");


--
-- Name: auction_tenantId_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "auction_tenantId_status_idx" ON public.auction USING btree ("tenantId", status);


--
-- Name: audit_log_entityType_entityId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "audit_log_entityType_entityId_idx" ON public.audit_log USING btree ("entityType", "entityId");


--
-- Name: audit_log_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "audit_log_tenantId_idx" ON public.audit_log USING btree ("tenantId");


--
-- Name: audit_log_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "audit_log_userId_idx" ON public.audit_log USING btree ("userId");


--
-- Name: bid_auctionId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "bid_auctionId_createdAt_idx" ON public.bid USING btree ("auctionId", "createdAt" DESC);


--
-- Name: bid_auctionItemId_offered_price_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "bid_auctionItemId_offered_price_idx" ON public.bid USING btree ("auctionItemId", offered_price DESC);


--
-- Name: bid_requestId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "bid_requestId_key" ON public.bid USING btree ("requestId");


--
-- Name: bid_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "bid_userId_createdAt_idx" ON public.bid USING btree ("userId", "createdAt" DESC);


--
-- Name: company_nameLowercase_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "company_nameLowercase_key" ON public.company USING btree ("nameLowercase");


--
-- Name: company_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX company_name_key ON public.company USING btree (name);


--
-- Name: item_soldToUserId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "item_soldToUserId_idx" ON public.item USING btree ("soldToUserId");


--
-- Name: auction_item auction_item_auctionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auction_item
    ADD CONSTRAINT "auction_item_auctionId_fkey" FOREIGN KEY ("auctionId") REFERENCES public.auction(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: auction_item auction_item_itemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auction_item
    ADD CONSTRAINT "auction_item_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES public.item(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: auction_registration auction_registration_auctionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auction_registration
    ADD CONSTRAINT "auction_registration_auctionId_fkey" FOREIGN KEY ("auctionId") REFERENCES public.auction(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: auction_registration auction_registration_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auction_registration
    ADD CONSTRAINT "auction_registration_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."user"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: auction auction_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auction
    ADD CONSTRAINT "auction_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public.tenant(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: audit_log audit_log_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT "audit_log_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."user"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: bid bid_auctionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bid
    ADD CONSTRAINT "bid_auctionId_fkey" FOREIGN KEY ("auctionId") REFERENCES public.auction(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: bid bid_auctionItemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bid
    ADD CONSTRAINT "bid_auctionItemId_fkey" FOREIGN KEY ("auctionItemId") REFERENCES public.auction_item(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: bid bid_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bid
    ADD CONSTRAINT "bid_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public.tenant(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: bid bid_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bid
    ADD CONSTRAINT "bid_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."user"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: company company_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.company
    ADD CONSTRAINT "company_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public.tenant(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: item item_soldToUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item
    ADD CONSTRAINT "item_soldToUserId_fkey" FOREIGN KEY ("soldToUserId") REFERENCES public."user"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: item item_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item
    ADD CONSTRAINT "item_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public.tenant(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: observation observation_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.observation
    ADD CONSTRAINT "observation_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public.tenant(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user user_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "user_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public.company(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: user user_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "user_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public.tenant(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

