@tailwind base;
@tailwind components;
@tailwind utilities;

: root {
  --primary: hsl(222.2 47.4% 11.2%);
  --yellow-500: hsl(45 93% 47%);
  --orange-500: hsl(24 95% 53%);
  --blue-500: hsl(217 91% 60%);
  --red-500: hsl(0 84% 60%);
  --green-500: hsl(142 71% 45%);
  --purple-500: hsl(263 55% 52%);
  --pink-500: hsl(300 69% 58%);
  --zinc-500: hsl(0, 0%, 76%);
  --lime-500: hsl(76 76% 50%);
}

@keyframes bounce-small {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.animate-bounce-small {
  animation: bounce-small 0.5s ease-in-out;
}
